.bg-footer{
    background-image:url(https://user-images.githubusercontent.com/32226852/141057323-30c564ce-3998-4687-99d1-bc1e128e6074.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: rgb(1, 247, 255);
}